
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 100%;
}

html {
  font: 1em/1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
  background: linear-gradient(0deg,rgba(48,48,54,0.3),rgba(0,0,0,0.3)),url(images/background.png);  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(images/seattle_view.jpg) center no-repeat;
  background-size: cover;
}


header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1 {
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
}

header h3 {
  font-family: 'Noto Sans TC', sans-serif;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffe6ee;
  border: 3px solid #ffe6ee;
  background-color: rgba(0, 0, 0, 0.2);
  padding: .5em 3em;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0; 
  -webkit-filter: blur(4px);
}

.site {
  padding: 5em 0;
  text-align: center;
  font-size: .8em;
  color: #ffe6ee;
  font-family: 'Open Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
  position:relative
}
.site a {
  color: #80002a;
  text-decoration: none;
}
.site a:hover {
  color: #80002a;
  text-shadow: 1px 1px 2px navy, 0 0 25px blueviolet, 0 0 5px pink;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.row {
    max-width: 90%;
    margin: 5px auto;
}
/* About me section */

.about-me-text {
  color: #ffe6ee;
  font-size: 25px;
  font-family: 'Hind Guntur', sans-serif;
}

.resume-text {
  color: #ffe6ee;
  font-size: 23px;
  font-family: 'Hind Guntur', sans-serif;
}

.resume-text a {
  color: #ffe6ee;
}

#about-me-pic{
  border: 6px double #ffe6ee;
  padding: 10px; 
}

/* Projets section */
.projects {
  padding: 2em 0;
  text-align: center;  
  font-size: .9em;
  color: #ffe6ee;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  background-color: rgba(0, 0, 0, 0.2);
  
}

#projects-header, #portfolio-header {
  border-bottom: 2px solid #ffe6ee;
}

.projects img {
  width: 60%;
  border-radius: 100%;
  border: 3px double #ffe6ee;
  padding: 5px;
  }

  .projects h3 {
    border: 2px double #ffe6ee; 
  }

  /* Portfolio section */

.portfolio {
  padding: 2em 0;
  text-align: center;
  font-size: .9em;
  color: #ffe6ee;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio img {
  border-radius: 20%;
}

#portfolio-links {
  border: 2px double #ffe6ee; 
}

.education {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
  color: #444;
  position:relative
}

.connect {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
  color: #ffe6ee;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.connect h2 {
  border-bottom: 2px solid #ffe6ee;
  font-family: 'Open Sans', sans-serif;
}

.project-hr {
  border: 1px solid #ffe6ee;
}

.projects a, .portfolio a {
  color: #ffe6ee;
  text-decoration: underline;
}

.projects a:hover, .portfolio a:hover {
  text-shadow: 1px 1px 2px navy, 0 0 25px blueviolet, 0 0 5px pink;
}

.connect img:hover, .projects img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

#instapotty-img {
  background-color: rgba(197, 145, 174, 0.3);
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#projects-link {
  text-decoration: none;
}

/* Media Queries for mobile navBar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


