
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  max-width: 100%;
}

html {
  font: 1em/1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body {
  font-size: 1.3em;
  background: linear-gradient(0deg,rgba(48,48,54,0.3),rgba(0,0,0,0.3)),url(images/background.png);  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  height: 100%;
  position: relative;
  overflow: hidden;
  background: url(images/CarrieMain.jpg) center no-repeat;
  background-size: cover;
}
header .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
header h1 {
  margin: 0;
}

header hgroup {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #ffe6ee;
  border: 3px solid #ffe6ee;
  background-color: rgba(0, 0, 0, 0.2);
  padding: .5em 3em;
  z-index: 2;
}
header .overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background:#333 center no-repeat;
  background-size: cover;
  z-index: 0;
  opacity: 0; 
  -webkit-filter: blur(4px);
}

.site {
  padding: 5em 0;
  text-align: center;
  font-size: .8em;
  color: #ffe6ee;
  background-color: rgba(0, 0, 0, 0.2);
  position:relative
}
.site a {
  color: #ffe6ee;
  text-decoration: none;
}
.site a:hover {
  color: #ffe6ee;
  text-shadow: 1px 1px 2px black, 0 0 25px maroon, 0 0 5px darkblue;
}

#connect-link {
  border: 2px solid #ffe6ee;
  margin: 2px; 
}
#connect-link:hover {
  color: #76323F;
  background: #ffe6ee;
  
}
.site nav{
  position:absolute;
  top:0;
  left:0;
  background:#76323F;
  width:100%;
  z-index: 99999;
}
.site nav a{
  padding:10px 30px;
  font-size:1.3em;
  display:inline-block
}

.row {
    max-width: 100%;
    margin: 5px;
}
/* About me section */

.about-me-text {
  color: #ffe6ee;
  font-size: 25px;
}

.resume-text {
  color: #ffe6ee;
  font-size: 23px;
}

/* Projets section */
.projects {
  padding: 2em 0;
  text-align: center;  
  font-size: .8em;
  color: #ffe6ee;
  position:relative;
  background-color: rgba(0, 0, 0, 0.2);
  
}

#projects-header, #portfolio-header {
  border-bottom: 2px solid #ffe6ee;
}

.projects img {
  width: 60%;
  border-radius: 100%;
  }

  /* Portfolio section */

.portfolio {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
  color: #ffe6ee;
  position:relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.portfolio img {
  border-radius: 20%;
}

.education {
  padding: 2em 0;
  text-align: center;
  font-size: .8em;
  color: #444;
  position:relative
}


